.login-panel{
  text-align: center;
  align-items: center;
  background-color: snow;
  font-family: Georgia;
  color: blue;
  display: flex;
  flex-direction: column;
}

.title {
  padding: 20px 30px;
  background-color: lightskyblue;
  font-size: 38px;
  font-weight: 400;
  text-align: center;
  color: black;
}

.outgoing {
  padding: 2rem;
  size: 2rem;
  font-size: 1cm;
  align-items: center;
  text-align: center;
}
.create {
  padding: 0.5rem ;
  size: 1rem;
  background-color: powderblue;
  font-size: 1cm;
}
.add-recipe-btn{
  padding: 0.5rem ;
  size: 1rem;
  background-color: powderblue;
  font-size: 1cm;
}

.logout {
  padding: 0.5rem ;
  size: 1rem;
  font-size: 1cm;
  margin-top: 2px;
  margin-right: 5px;
  position:absolute;
  top: 10px;
  right: 10px;
  background-color: tomato;
}

.status{
  color: red;
}

.username {
  padding: 0.5rem;
  size: 2rem;
  background-color: wheat;
  font-size: 1cm;
}


.recipe-detail { 
  border: 1px solid black;
  flex: 3 0 ;
  background-color: pink;
}

.text-fields {
  padding: 5px;
  border: 1px solid black;
}

.content {
  text-align: center;
  padding: 0.5rem;
  size: 2rem;
  font-size: 1cm;
}

.login {
  padding: 0.5rem ;
  size: 1rem;
  font-size: 1cm;
  margin-top: 2px;
  margin-right: 5px;
  position:absolute;
  top: 10px;
  right: 10px;
  background-color: mediumseagreen;
}

.home-panel {
  height: 60px;
  padding: 20px 30px;
  font-size: 38px;
  font-weight: 400;
  text-align: center;
  color: black;
  flex-direction: row;
  background-color: lightskyblue;
}

.recipeLsit{
  padding: 20px 30px;
  font-size: 38px;
  font-weight: 400;
  text-align: center;
  color: black;
  background-color: pink;
}

.recipe-list{
  align-items: center;
  border-color: powderblue;
}

.recipe-button{
  padding: 0.5rem ;
  size: 1rem;
  font-size: 1cm;
  min-width: 50px; width: auto;
  background-color: powderblue;
  border: black;
  border-radius: 1rem;
}

.add-btn{
  padding: 0.5rem ;
  size: 1rem;
  background-color: orchid;
  font-size: 1cm;
  align-items: center;
}

.description{
  padding: 20px 30px;
  font-size: 38px;
  font-weight: 400;
  text-align: center;
  background-color: pink;
  color: black ;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bolder;

}

.home {
  padding: 0.5rem ;
  size: 1rem;
  font-size: 1cm;
  margin-top: 2px;
  margin-right: 5px;
  position:absolute;
  top: 10px;
  left: 10px;
 
  background-color: yellowgreen;
}

.color-set{
  color: rebeccapurple;
  font-weight: normal;
}