#game-app { 
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  color: crimson;
  font-size: x-large;
  align-items: center;

}

.display-panel { 
  display: flex;
  flex-direction: row;
}

.list { 
  border: 1px solid black;
  list-style: none;
  padding: 5px;
  margin: 0;
  flex: 2 0 ;
  background-color: lightpink;
  text-align: center;
  color: blue;
  font-size: large;
  
}


.nav { 
  width: 410px;
  overflow-y:scroll;
  background-color:plum;
  margin-left: auto;
  margin-right: auto;
  height:200px;
  font-size: large;
  font-weight: 600;
  color: black;
}

.meta-info { 
  min-width: 100px;
  background-color: lightgrey;
  padding: 5px;
}



.form-data { 
  font-size: xx-large;
  font-weight: 600;
  font-style: italic;
  width: 610px;
  padding: 5px;
  color: ;
  border: 1px solid black;
  background-color: plum;
  align-content: center;
  flex-direction: row;

}

.text-fields {
  padding: 5px;
  border: 1px solid black;
}

.send-button {
  font-size: medium;
  font-weight: bold;
  padding: 15px;
  background-color: #BADA55;
  border: 1px solid black;
  align-items: center;
  flex: 2 0 ;
}

._li { 
  width: 300px;
  border: 2px solid black;
  padding: 50px;
  margin: 20px;
  text-align: center;
  background-color: antiquewhite;
  
}


