#chat-app { 
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  
}

.display-panel { 
  display: flex;
  flex-direction: row;
}

.users { 
  border: 1px solid black;
  list-style: none;
  padding: 5px;
  margin: 0;
  flex: 1 0 ;
  background-color: antiquewhite;
}

.messages { 
  list-style: none;
  padding: 5px;
  margin: 0;
}

.message { 
  border: 1px solid black;
  flex: 3 0 ;
  background-color: skyblue;
}

.message:hover { 
  background-color: #BADA55;
}

.meta-info { 
  min-width: 100px;
  background-color: lightgrey;
  padding: 5px;
}

.message-text { 
  padding-left: 10px;
}

.form-data { 
  padding: 5px;
  border: 1px solid black;
  background-color: gainsboro
}

.text-fields {
  padding: 5px;
  border: 1px solid black;
}

.button {
  font-size: medium;
  font-weight: bold;
  padding: 15px;
  background-color: #BADA55;
  border: 1px solid black;
}

.sender-info { 
}

.message-info { 
}

.outgoing { 
}
